html{
    background-color: black
}
#title{
    font-size: 12vw;
    font-family: 'Mrs Sheppards', cursive;
    margin: 15px;
    text-align: center;
    color: orangered;
}
.button{

  border: none;
  color: white;
  padding: 20px 48px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px; 
  cursor: pointer;
}
#home{
     background-color: orangered;
  border: none;
  color: white;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px; 
  cursor: pointer;
  font-family: 'Staatliches', cursive;
  letter-spacing: 1px;
}
#wigs{
      background-color: orangered;
  border: none;
  color: white;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px; 
  cursor: pointer;
  font-family: 'Staatliches', cursive;
  letter-spacing: 1px;
}
#dresses{
      background-color: orangered;
  border: none;
  color: white;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px; 
  cursor: pointer;
  font-family: 'Staatliches', cursive;
  letter-spacing: 1px;
}
#heels{
      background-color: orangered;
  border: none;
  color: white;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px; 
  cursor: pointer;
  font-family: 'Staatliches', cursive;
  letter-spacing: 1px;
}
#tutorials{
      background-color: orangered;
  border: none;
  color: white;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px; 
  cursor: pointer;
  font-family: 'Staatliches', cursive;
  letter-spacing: 1px;
}
#performances{
      background-color: orangered;
  border: none;
  color: white;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px; 
  cursor: pointer;
  font-family: 'Staatliches', cursive;
  letter-spacing: 1px;
}
#interviews{
      background-color: orangered;
  border: none;
  color: white;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px; 
  cursor: pointer;
  font-family: 'Staatliches', cursive;
  letter-spacing: 1px;
}
#contacts{
  background-color: orangered;
  border: none;
  color: white;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px; 
  cursor: pointer;
  font-family: 'Staatliches', cursive;
  letter-spacing: 1px;
}
#subTitle{
    margin: -7px;
    text-align: center;
    font-size: 2.5vw;
    font-family: 'Staatliches', cursive;
    color: floralwhite;
    background-color: orangered;
}
#hair{
    margin: 0;
    padding-top: 20px;
}